body {
    background: #1a1a1a;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
    
}
h1 h2 h3{
    color: #f0f0f0;
}
p{
    color: #828282;
}
li {
  padding: 16px;
  
}
ul{
    display: flex;
  list-style-type: none;

}
.singIn{
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
     border: none;
}
.login{
    background:none;
    color: white;
    border: none;
    margin: none;
   

}
.navLeft{
    display: flex;
     
}
/* NAVBAR */
.site-header {
  display: flex;
  align-items: center;
  padding: 24px 5vw;

}

.brand {
  font-weight: 600;
  font-size: 1.1rem;
}

.nav-links {
  display: flex;
  gap: 28px;
  align-items: center;
  font-size: 0.95rem;
  margin-left: auto;
}

.nav-links a {
  color: #b0b0b0;
  transition: color 0.2s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #ffffff;
}


.nav-links a.sign-in {
  color: #111;
  background-color: #f5f5f5;
  padding: 10px 22px;
  border-radius: 500px;
  font-weight: 600;
  font-size: 0.95rem;
  transition: All 0.2s ease;
}

.sign-in:hover {
    box-shadow: 0 0 10px 0 rgb(255, 255, 255);
}

/* MAIN SECTION */
.main {
    display: flex;
    gap: 40px;
    padding: 20px 40px;
}

.image-box img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 100px 0 0}
   

.details .price {
    color: #ccc;
    font-size: 18px;
}

.enroll {
    margin-top: 20px;
    padding: 10px 30px;
    width: 100%;
    background: white;
    border: none;
    cursor: pointer;
}

/* PRODUCTS GRID */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px 40px;
}

.product img {
    width: 100%;
    height: 250px;
    background: gray;
}

.related-title {
    padding-left: 40px;
}

/* FOOTER */





.site-footer {
  border-top: 1px solid #1f1f1f;
  padding: 40px 5vw 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-brand {
  min-width: 200px;
}

.social-icons {
  padding-top: 3rem;
  display: flex;
  gap: 15px;
  margin-top: 12px;
  color: #8c8c8c;
  font-size: 0.9rem;
}


.social-icons img{
  width: 25px;

}

.footer-columns {
  display: flex;
  gap: 10rem;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-column p {
  margin: 0 0 10px;
  font-weight: 600;
}


.footer-column a {
  color: #8c8c8c;
  font-size: 0.9rem;
}